.dynamic-text-area {
  min-height: 226px;
}

dl.govuk-summary-list.email-summary {
  border-top: 1px solid #b1b4b6;
  margin-bottom: 30px;
  border-left: 1px solid #b1b4b6;
  border-right: 1px solid #b1b4b6;
}

.email-summary-key {
  border-bottom: 1px solid #b1b4b6;
  padding-left: 20px;
  padding-right: 10px;
  white-space: nowrap;
  width: 10% !important;
  color: #505a5f;
}
